body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

button {
    width: 200px;
    height: 150px;
    font-size: 1em;
    border-radius: 8px;
    border: none;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
}
button.tooltip-button {
    width: 200px;
    height: 150px;
    font-size: 1em;
    border-radius: 8px;
    border: none;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    overflow: visible;
    transition: background 0.3s ease;
}

/* cria a tooltip */
button.tooltip-button::after {
    content: attr(tooltip-text);
    position: absolute;
    left: 105%;
    top: 50%;
    transform: translateY(-50%);
    background: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    font-size: 0.9em;
}

button.tooltip-button:hover::after {
    opacity: 1;
}

.pontos-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loja-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #c7c7c7;
    align-items: center;
}

.itens-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #5e5e5e;
    align-items: center;
}

.section-title {
    font-size: 1.5em;
    margin-bottom: 16px;
    font-weight: bold;
    color: #333;
}

.loja-generators {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.loja-generators .botao:hover {
    background: #444040;
}