body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

button {
    width: 200px;
    height: 150px;
    font-size: 1em;
    border-radius: 8px;
    border: none;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
    position: relative;       /* necessário para o ::after */
    overflow: hidden;         /* evita que o texto saia */
    transition: color 0.3s ease;
}

/* esconde o texto suavemente */
button.tooltip-button:hover {
    color: transparent;
}

/* legenda no mesmo local do texto */
button.tooltip-button::after {
    content: attr(tooltip-text);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;               /* começa invisível */
    transition: opacity 0.3s ease;
    pointer-events: none;     /* não atrapalha clique */
}

/* ao hover, mostra a legenda */
button.tooltip-button:hover::after {
    opacity: 1;
}

.pontos-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loja-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #c7c7c7;
    align-items: center;
}

.itens-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #5e5e5e;
    align-items: center;
}

.section-title {
    font-size: 1.5em;
    margin-bottom: 16px;
    font-weight: bold;
    color: #333;
}

.loja-upgrades {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.loja-upgrades .botao:hover {
    background: #444040;
}